Repository Team-Maple/MLS-iOS, pull requests merged in 2025-07, with the labels that each got.

#169 CollectionModal UI구현
  MLS/MLS.xcodeproj/project.pbxproj
  MLS/Presentation/BaseFeature/BaseFeature/UICollectionReusableViews/CollectionViewCells/AddFolderCell.swift
  MLS/Presentation/BaseFeature/BaseFeature/UICollectionReusableViews/CollectionViewCells/FolderCell.swift
  MLS/Presentation/BaseFeature/BaseFeature/Utills/CompositionalLayoutBuilder/LayoutFactory.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature.xcodeproj/project.pbxproj
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/BookmarkModalFactoryImpl.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/BookmarkModalReactor.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/BookmarkModalView.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/BookmarkModalViewController.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeatureInterface/BookmarkModalFactory.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeatureInterface/Untitled.swift
  MLS/Presentation/DesignSystem/DesignSystem/Components/CheckBoxButton.swift
  MLS/Presentation/DesignSystem/DesignSystem/Components/CommonButton.swift
  MLS/Presentation/DesignSystem/DesignSystem/Components/SearchBar.swift
  MLS/Presentation/DesignSystem/DesignSystem/Resource/Image.xcassets/checkCircle.imageset/Contents.json
  MLS/Presentation/DesignSystem/DesignSystem/Resource/Image.xcassets/checkCircle.imageset/checkCircle.svg
  MLS/Presentation/DesignSystem/DesignSystem/Resource/Image.xcassets/checkSqure.imageset/Contents.json
  MLS/Presentation/DesignSystem/DesignSystem/Resource/Image.xcassets/checkSqure.imageset/checkSqure.svg
  MLS/Presentation/DesignSystem/DesignSystem/Resource/Image.xcassets/checkicon.imageset/checkicon.png
  MLS/Presentation/DesignSystem/DesignSystem/Utills/Extension/UIFont+.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature.xcodeproj/project.pbxproj
  MLS/Presentation/DictionaryFeature/DictionaryFeature/DictionaryMain/DictionaryList/DictionaryListFactoryImpl.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/DictionaryMain/DictionaryList/DictionaryListViewController.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/DictionaryMain/DictionaryNotification/DictionaryNotificationView.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/DictionaryMain/DictionaryNotification/NotificationSetting/NotificationSettingView.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/ItemFilterBottomSheet/Views/FilterLevelSectionView.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeatureDemo/AppDelegate.swift
Labels: feat

#173 AddCollection 모달 구현
  MLS/Presentation/AuthFeature/AuthFeature/OnBoarding/Input/OnBoardingInputView.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature.xcodeproj/project.pbxproj
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/AddCollection/AddCollectionFactoryImpl.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/AddCollection/AddCollectionReactor.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/AddCollection/AddCollectionView.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/AddCollection/AddCollectionViewController.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/BookmarkModalFactoryImpl.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeature/BookmarkModal/BookmarkModalViewController.swift
  MLS/Presentation/BookmarkFeature/BookmarkFeatureInterface/AddCollectionFactory.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeatureDemo/AppDelegate.swift
Labels: feat

#174 tabbar interaction 적용
  MLS/Presentation/BaseFeature/BaseFeature/UICollectionReusableViews/CollectionViewCells/PageTabbarCell.swift
  MLS/Presentation/BaseFeature/BaseFeature/Utills/CompositionalLayoutBuilder/CompositionalSectionBuilder.swift
  MLS/Presentation/BaseFeature/BaseFeature/Utills/CompositionalLayoutBuilder/LayoutFactory.swift
  MLS/Presentation/BaseFeature/BaseFeature/Utills/TabBarUnderlineController.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/DictionaryMain/DictionaryMainViewController.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/DictionaryMain/DictionarySearch/SearchResult/DictionarySearchResultViewController.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/ItemFilterBottomSheet/ItemFilterBottomSheetViewController.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/ItemFilterBottomSheet/Views/ItemFilterBottomSheetView.swift
Labels: feat, fix

#177 itemfilter 버그 수정
  MLS/Presentation/DictionaryFeature/DictionaryFeature/ItemFilterBottomSheet/ItemFilterBottomSheetViewController.swift
  MLS/Presentation/DictionaryFeature/DictionaryFeature/ItemFilterBottomSheet/Views/FilterLevelSectionCell.swift
Labels: fix

#179 custom modal 인터렉션 수정
  MLS/Presentation/BaseFeature/BaseFeature/Utills/ModalPresentable/ModalPresentable.swift
  MLS/Presentation/BaseFeature/BaseFeature/Utills/ModalPresentable/ModalWrapperView.swift
Labels: feat, fix
